{% extends 'admin_base0.html' %}
{% load static %}

{% block title %}
    试卷模板页
{% endblock %}

{% block query_action_url %}
    {% url 'query_exam_template' %}
{% endblock %}

{% block query_input %}
    <div class="form-group input_margin_top">
        <label for="exam_template_name">试卷模板名</label>
        <input type="text" class="form-control" id="exam_template_name" placeholder="试卷模板名"
               name="exam_template_name"
               value="{{ last_query_form.exam_template_name }}">
    </div>
    <div class="form-group input_margin_top">
        <label for="exam_name">考试名称</label>
        <input type="text" class="form-control" id="exam_name" placeholder="考试名称" name="exam_name"
               value="{{ last_query_form.exam_name }}">
    </div>
    <div class="form-group input_margin_top">
        <label for="exam_th">考试批次</label>
        <input type="text" class="form-control" id="exam_th" placeholder="考试批次" name="exam_th"
               value="{{ last_query_form.exam_th }}"
               oninput="value=value.replace(/[^\d]/g,'')">
    </div>
    <div class="form-group input_margin_top">
        <label for="subject" class="control-label">科目</label>
        <select class="form-control" id="subject" name="subject">
            {% if last_query_form.subject %}
                <option value="{{ last_query_form.subject }}" selected>{{ last_query_form.subject }}</option>
            {% endif %}
            {% for subject in all_subjects %}
                <option value="{{ subject }}">{{ subject }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group input_margin_top">
        <label for="plan_name" class="control-label">方案</label>
        <select class="form-control" id="plan_name" name="plan_name">
            {% if last_query_form.plan_name %}
                <option value="{{ last_query_form.plan_name }}"
                        selected>{{ last_query_form.plan_name }}</option>
            {% endif %}
            {% for plan in all_plans %}
                <option value="{{ plan.plan_name }}">{{ plan.plan_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group input_margin_top">
        <label for="difficult" class="control-label">难度</label>
        <select class="form-control" id="difficult" name="difficult">
            {% if last_query_form.difficult %}
                <option value="{{ last_query_form.difficult }}"
                        selected>{{ last_query_form.difficult }}</option>
            {% endif %}
            {% for difficult in all_difficults %}
                <option value="{{ difficult }}">{{ difficult }}</option>
            {% endfor %}
        </select>
    </div>
{% endblock %}

{% block function_btn %}
    <a href="#" class="btn btn-primary  input_margin_top " data-toggle="modal"
       data-target="#add_exam_template">添加试卷模板</a>
    <div class="modal fade" tabindex="-1" id="add_exam_template" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog " role="document"> {# modal-lg #}
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">添加试卷模板</h4>
                </div>
                <div class="modal-body row">
                    <form action="{% url 'exam_template' %}" method="POST" class="form-inline">
                        <form class="form-horizontal">
                            {% csrf_token %}
                            <div class="row input_margin_top">
                                <div class="form-group col-xs-offset-1 col-xs-4">
                                    <label class="sr-only" for="exam_template_name2">试卷模板名</label>
                                    <div class="input-group ">
                                        <div class="input-group-addon ">试卷模板名</div>
                                        <input type="text" class="form-control" id="exam_template_name2" required
                                               name="exam_template_name">
                                    </div>
                                </div>
                                <div class="form-group col-xs-offset-1">
                                    <label class="sr-only" for="exam_name2">考试名称</label>
                                    <div class="input-group ">
                                        <div class="input-group-addon ">考试名称</div>
                                        <input type="text" class="form-control" id="exam_name2" name="exam_name">
                                    </div>
                                </div>

                            </div>
                            <div class="row input_margin_top">
                                <div class="form-group col-xs-offset-1 col-xs-4">
                                    <label class="sr-only" for="exam_th2">考试批次</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">考试批次</div>
                                        <input type="text" class="form-control" id="exam_th2" value="1"
                                               name="exam_th" oninput="value=value.replace(/[^\d]/g,'')">
                                    </div>
                                </div>
                                <div class="form-group col-xs-offset-1">
                                    <label for="subject2" class="sr-only">选择科目</label>
                                    <div class="input-group">
                                        <div class="input-group-addon ">选择科目</div>
                                        <select class="form-control" id="subject2" name="subject">
                                            {% for subject in all_subjects %}
                                                <option value="{{ subject }}" selected>{{ subject }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row input_margin_top">
                                <div class="form-group  col-xs-offset-1 col-xs-4 ">
                                    <label for="plan_name2" class="sr-only">选择方案</label>
                                    <div class="input-group">
                                        <div class="input-group-addon ">选择方案</div>
                                        <select class="form-control" id="plan_name2" name="plan_name">
                                            {% for plan in all_plans %}
                                                <option value="{{ plan.plan_name }}">{{ plan.plan_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group  col-xs-offset-1">
                                    <label for="difficult2" class="sr-only">选择难度</label>
                                    <div class="input-group">
                                        <div class="input-group-addon ">选择难度</div>
                                        <select class="form-control" id="difficult2" name="difficult">
                                            {% for difficult in all_difficults %}
                                                <option value="{{ difficult }}">{{ difficult }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row input_margin_top">
                                <div class="form-group col-xs-offset-1 col-xs-4">
                                    <label class="sr-only" for="exam_start_time2">考试开始</label>
                                    <div class="input-group ">
                                        <div class="input-group-addon ">考试开始</div>
                                        <input type="datetime-local" value="2020-01-01T09:00" class="form-control"
                                               id="exam_start_time2" name="exam_start_time">
                                    </div>
                                </div>
                                <div class="form-group col-xs-offset-1">
                                    <label class="sr-only" for="exam_end_time2">考试结束</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">考试结束</div>
                                        <input type="datetime-local" value="2020-01-01T11:00" class="form-control"
                                               id="exam_end_time2" name="exam_end_time">
                                    </div>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">
                                    Close
                                </button>
                                <input type="submit" class="btn btn-primary">
                            </div>
                        </form>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block th %}
    <th class="text-center"><b>#</b></th>
    <th class="text-center"><b>试卷模板</b></th>
    <th class="text-center"><b>考试名称</b></th>
    <th class="text-center"><b>考试批次</b></th>
    <th class="text-center"><b>科目</b></th>
    <th class="text-center"><b>方案</b></th>
    <th class="text-center"><b>考试时长/分</b></th>
    <th class="text-center"><b>考试时间</b></th>
    <th class="text-center"><b>操作</b></th>
{% endblock %}

{% block tbody_tr %}

    {% for exam_template in objs %}
        <tr id="{{ exam_template.exam_template_name }}">  {# 此id用于删除该行 #}
            <td class="text-center">{{ forloop.counter }}</td>
            <td class="text-center">{{ exam_template.exam_template_name }}</td>
            <td class="text-center">{{ exam_template.exam_name }}</td>
            <td class="text-center">{{ exam_template.exam_th }}</td>
            <td class="text-center">{{ exam_template.subject }}</td>
            <td class="text-center">{{ exam_template.plan.plan_name }}</td>
            <td class="text-center">{{ exam_template.get_exam_time }}</td>
            <td class="text-center">{{ exam_template.exam_start_time|date:'Y-m-d H:i' }}-<br>-{{ exam_template.exam_end_time|date:'Y-m-d H:i' }}
            </td>
            <td class="text-center">

                <a href="#" data-toggle="modal" data-target="#{{ exam_template.id }}">修改</a>
                {# data-target属性必须与model绑定才能弹出model #}
                {# 如果多个元素的data-target相同，那他们打开的是同一个目标，即第一个 #}
                <div class="modal fade" tabindex="-1" id="{{ exam_template.id }}" role="dialog"
                     aria-labelledby="change_exam_template">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="change_exam_template"><b>修改试卷模板</b></h4>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'change_exam_template' %}" method="POST" class="form-inline">
                                    <form class="form-horizontal"> {# action="#"  默认想当前页面提交#}
                                        <input type="text" hidden name="old_exam_template_name"
                                               value="{{ exam_template.exam_template_name }}">
                                        {# 传值给后台便于找到该计划进行更新 #}
                                        <input type="text" hidden name="old_exam_name"
                                               value="{{ exam_template.exam_name }}">
                                        {% csrf_token %}
                                        <div class="row input_margin_top">
                                            <div class="form-group col-xs-offset-1 col-xs-4">
                                                <label class="sr-only" for="exam_template_name3">试卷模板名</label>
                                                <div class="input-group ">
                                                    <div class="input-group-addon ">试卷模板名</div>
                                                    <input type="text" class="form-control" id="exam_template_name3"
                                                           required name="exam_template_name"
                                                           value="{{ exam_template.exam_template_name }}">
                                                </div>
                                            </div>
                                            <div class="form-group col-xs-offset-1">
                                                <label class="sr-only" for="exam_name3">考试名称</label>
                                                <div class="input-group ">
                                                    <div class="input-group-addon ">考试名称</div>
                                                    <input type="text" class="form-control" id="exam_name3"
                                                           name="exam_name" value="{{ exam_template.exam_name }}">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row input_margin_top">
                                            <div class="form-group col-xs-offset-1 col-xs-4">
                                                <label class="sr-only" for="exam_th3">考试批次</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">考试批次</div>
                                                    <input type="text" class="form-control" id="exam_th3"
                                                           value="{{ exam_template.exam_th }}" name="exam_th"
                                                           oninput="value=value.replace(/[^\d]/g,'')">
                                                </div>
                                            </div>
                                            <div class="form-group col-xs-offset-1">
                                                <label for="subject2" class="sr-only">选择科目</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon ">选择科目</div>
                                                    <select class="form-control" id="subject2" name="subject">
                                                        <option value="{{ exam_template.subject }}"
                                                                selected>{{ exam_template.subject }}</option>
                                                        {% for subject in all_subjects %}
                                                            <option value="{{ subject }}">{{ subject }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row input_margin_top">
                                            <div class="form-group  col-xs-offset-1 col-xs-4 ">
                                                <label for="plan_name3" class="sr-only">选择方案</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon ">选择方案</div>
                                                    <select class="form-control" id="plan_name3" name="plan_name">
                                                        <option value="{{ exam_template.plan.plan_name }}"
                                                                selected>{{ exam_template.plan.plan_name }}</option>
                                                        {% for plan in all_plans %}
                                                            <option value="{{ plan.plan_name }}">{{ plan.plan_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group  col-xs-offset-1">
                                                <label for="difficult3" class="sr-only">选择难度</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon ">选择难度</div>
                                                    <select class="form-control" id="difficult4" name="difficult">
                                                        <option value="{{ exam_template.difficult }}"
                                                                selected>{{ exam_template.difficult }}</option>
                                                        {% for difficult in all_difficults %}
                                                            <option value="{{ difficult }}">{{ difficult }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row input_margin_top">
                                            <div class="form-group col-xs-offset-1 col-xs-4">
                                                <label class="sr-only" for="exam_start_time3">考试开始</label>
                                                <div class="input-group ">
                                                    <div class="input-group-addon ">考试开始</div>
                                                    <input type="datetime-local" value="2020-02-20T09:00"
                                                           class="form-control" id="exam_start_time3"
                                                           name="exam_start_time">
                                                </div>
                                            </div>
                                            <div class="form-group col-xs-offset-1">
                                                <label class="sr-only" for="exam_end_time3">考试结束</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">考试结束</div>
                                                    <input type="datetime-local" value="2020-02-20T11:00"
                                                           class="form-control" id="exam_end_time3"
                                                           name="exam_end_time">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">
                                                Close
                                            </button>
                                            <input type="submit" class="btn btn-primary">
                                        </div>
                                    </form>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" onclick="deleteObj('{{ exam_template.exam_template_name }}')">删除</a>
                {# 必须给这种参数打上引号，不然前端报错 #}
            </td>
        </tr>
    {% empty %}
        <h3 class="text-danger">暂无试卷模板</h3>
    {% endfor %}
{% endblock %}

{% block model_name %}
    试卷模板
{% endblock %}

{% block ajax_delete_url %}
    {% url 'change_exam_template' %}
{% endblock %}