{% load static %}{#加载静态文件库，就可以使用静态文件#}
<!DOCTYPE html>
<html lang="zh-CN">  {# 语言设置为中文#}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {# 告诉ie浏览器使用聚型的内核 #}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# ，响应式，适应屏幕，根据屏幕自动调整#}
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>{% block title %}{% endblock %}</title> {# 子模板填充后显示填充后的内容，不填充则显示标签里的默认内容 #}

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/admin_base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    {# 引入bootstrap的css样式 #}
    <script type="text/javascript" src="{% static 'jquery.1.12.4.min.js' %}"></script>
    {# Bootstrap 的所有 JavaScript 插件都依赖 jQuery，因此 jQuery 必须在 Bootstrap 之前引入#}
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>

    {% block header_extends %}{% endblock %}

</head>
<body>
<div class="container-fluid">
    <div class="main row">
        <div class="main-left col-xs-3 bg-warning">
            <div class="main-left-top row">
                <img src="/media/{{ request.user.touxiang }}" alt="头像" class="touxiang col-xs-offset-5">
                <div class="dropdown">
                    <p class="dropdown-toggle col-xs-offset-5" id="username" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="true">
                        {{ request.user.username }}
                        <span class="caret"></span>
                    </p>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="username">
                        <li><a href="{% url 'personal_info' %}">个人资料</a></li>
                        <li><a href="{% url 'logout' %}">安全退出</a></li>
                    </ul>
                </div>
            </div>
            <div class="main-left-bottom">
                <div class="dropdown row">
                    <p class="dropdown-toggle col-xs-offset-1" id="base_func">
                        基本功能
                        <span class="caret"></span>
                    </p>
                    <ul class="list-group" id="base_func_list">
                        <li class="list-group-item text-center"><a href="{% url 'add_question' %}">添加试题</a></li>
                        {# 文本对齐类 #}
                        <li class="list-group-item text-center"><a href="{% url 'question_store' %}">题库管理</a></li>
                        <li class="list-group-item text-center"><a href="{% url 'knowledge_manage' %}">知识点管理</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="main-right col-xs-9 ">
            <div class="main-right-top">
                <div class="row">
                    <form action="{% block query_action_url %}#{% endblock %}" method="POST"
                          class="form-inline pull-left col-xs-10">
                        {% csrf_token %}
                        {% block query_input %}{% endblock %}
                        <button type="submit" class="btn btn-primary input_margin_top">查询</button>
                    </form>
                    {% block function_btn %}{% endblock %}
                </div>
                <div>

                    <h4 class="text-center text-success" id="success_create">{{ success_create_msg }}</h4> {# 创建成功提示 #}
                    <h4 class="text-center text-danger" id="error_create">{{ error_add_ls }}</h4> {# 创建错误提示 #}
                    <h4 class="text-center text-success" id="success_change">{{ success_change_msg }}</h4> {# 修改成功提示 #}
                    <h4 class="text-center text-danger" id="error_change">{{ error_change_msg }}</h4> {# 修改错误提示 #}
                </div>
            </div>
            <div class="main-right-bottom">
                <table class="table table-bordered table-hover"> {# 带边框-鼠标悬停效果 #}
                    <thead>
                    <tr>
                        {% block th %}{% endblock %}
                    </tr>
                    </thead>
                    <tbody>
                    {% if query_empty_error %}      {# 因为查询结果也是显示在该页面，所以 #}
                        <h1 class="text-danger">{{ query_empty_error }}</h1>
                    {% else %}
                        {% block tbody_tr %}{% endblock %}
                    {% endif %}
                    </tbody>
                </table>

                <div class="paginator text-center">{# 居中样式 #}
                    <ul class="pagination">
                        <li>
                            {# 判断该Page对象是否有 上一页 #}
                            {% if page_of_objs.has_previous %}
                                <a href="?page={{ page_of_objs.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&laquo;</span>
                            {% endif %}
                        </li>
                        {% for page_num in page_range %}
                            {% if page_num == page_of_objs.number %}
                                <li class="active"><span>{{ page_num }}</span></li>
                            {% elif page_num == '...' %}
                                <li><span>{{ page_num }}</span></li>
                            {% else %}
                                <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li>
                            {# 下一页 #}
                            {% if page_of_objs.has_next %}
                                <a href="?page={{ page_of_objs.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&raquo;</span>
                            {% endif %}
                        </li>
                    </ul>
                    <p class="text-muted">
                        当前共有{{ page_of_objs.paginator.count }}个{% block model_name %}{% endblock %},当前第{{ page_of_objs.number }}页，共{{ page_of_objs.paginator.num_pages }}页</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    {# 控制页面左侧3个菜单项的开闭 #}
    var c = function (manage_id, manage_list_id) {
            var p_manage = document.getElementById(manage_id);
            var ul_manage_list = document.getElementById(manage_list_id);
            p_manage.onclick = function () {
                if (String(ul_manage_list.style.display) == ''){
                    ul_manage_list.style.display = 'none';
                }
                else if (String(ul_manage_list.style.display) == 'block') {
                    ul_manage_list.style.display = 'none';
                    p_manage.parentElement.className = p_manage.parentElement.className.slice(0, -10);
                }
                else {
                    ul_manage_list.style.display = 'block';
                    p_manage.parentElement.className += ' bg-danger';
                }
            };
        };
    c('base_func', 'base_func_list');
    {# 控制添加修改信息的结果 提示 #}
    $('#success_create').click(function () {
        $('#success_create').hide()
    });
    $('#success_change').click(function () {
        $('#success_change').hide()
    });
    $('#error_create').click(function () {
        $('#error_create').hide()
    });
    $('#error_change').click(function () {
        $('#error_change').hide()
    });
    {# 删除按钮触发的事件  异步删除 ,obj_name是能唯一标识该对象的任意字段 #}
    function deleteObj(obj_unique) {
        console.log(obj_unique, typeof obj_unique);
        $.ajax({
            url:{% block ajax_delete_url %}{% endblock %}, {# 请求路径 #}
            type: 'GET', {# 请求方法 #}
            data: {
                {# 规定要发送到服务器的数据。 #}
                obj_unique: obj_unique
            },
            cache: false, {# 表示浏览器是否缓存被请求页面。默认是 true #}
            success: function (result, text_status) {  {# 成功以后的回调 返回字面量对象,描述状态的字符串 #}
                console.log(result, typeof result);
                console.log(text_status);
                if (result['status'] == 'SUCCESS') {
                    //更新表格
                    var tr = document.getElementById(obj_unique);
                    tr.style.display = 'none'
                }
                else {
                    alert(result['ajax_delete_error_msg']);
                }
            },
            error: function (xhr, result, error_msg) {  {# 异常之后的回调 3个参数:即XMLHttpRequest对象、错误信息、捕获的错误对象(可选)#}
                console.log(xhr, result, error_msg);
                console.log(this);   //调用本次ajax请求时传递的options参数
            }
        })
    }
</script>
{% block script_extends %}{% endblock %}
</body>
</html>